<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- AOP -->
	<bean id ="hAspect" class="com.java.aop.HAspect"/>
	
	<aop:config>
		<aop:aspect id = "exAspect" ref="hAspect">
			<aop:pointcut expression ="within(com.java..*)" id="pMethod"/>
			<aop:around method="advice" pointcut-ref="pMethod"/>
		</aop:aspect>
	</aop:config>
	
	

	<!-- HandlerMapping / UI 요청이 들어오면 해당 클래스를 찾아라 -->
	<bean id = "HandlerMapping" class = "org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<property name="mappings">
			<props>
				<prop key="/member/*.do">memberController</prop>
				<prop key="/fileBoard/*.do">fileBoardController</prop>
			</props>
		</property>	
	</bean>
	
	
	
	<!--ViewResolver: MVC- forward -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>		
	</bean>
</beans>
